:root {
  --mainText: hsl(0, 0%, 7%);
  --para: hsl(0, 0%, 50%);
  --bg: hsl(47, 88%, 63%);
  --cardBg: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Figtree";
  background: var(--bg);
}

h1,
h2,
h3 {
  color: var(--mainText);
}

h1 {
  font-weight: 800;
  margin-bottom: 5px;
}

h3 {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
  color: var(--para);
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--cardBg);
  padding: 20px;
  border-radius: 25px;
  border: 1.5px solid black;
  box-shadow: 8px 8px 0 black;
  width: fit-content;
}

.card-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.box {
  background: var(--bg);
  width: fit-content;
  padding: 6px;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.illu-image {
  border-radius: 10px;
  width: 100%;
}

.grid {
  display: flex;
}

.grid h3 {
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 800;
}

.grid img {
  margin-top: 10px;
  height: 45px;
}

/* box-shadow: 8px 8px 0px 0px #000;  */
